.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 100vw;
	max-height: 80vh;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox */
	display: block;
}

.pager {
    margin: 10px 0;
}

.close {
    margin: 10px 0;
    opacity: 1;
}

.pager li>a {
    padding: 0;
    border: 0;
    background-color: #fff;
}

.lightbox .box-img {
    width: -webkit-min-content;
  	width: -moz-min-content;
  	width: max-content;
	padding: 5px 14px;
	background-color:#FFF;
	box-shadow: 0px 1px 10px -3px #777777;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

.lightbox p {
    padding: 0;
    margin: 0;
}

@media (max-width:768px) {
    .lightbox .box-img {
        max-width: 90vw;

    }

    .lightbox img {
        max-width: 80vw;
    }
}
